services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/docker/data/portainer:/data
    env_file:
      - ../.env.global   # optional, if you're using it

networks:
  default:
    name: core
    external: false
