version: "3.9"

services:
  stirling-pdf:
    image: stirlingtools/stirling-pdf:2.1.4
    container_name: stirling-pdf
    restart: unless-stopped

    env_file:
      - ./.env

    environment:
      - DOCKER_ENABLE_SECURITY=true
      - SECURITY_ENABLE_LOGIN=true
      - CSRF_DISABLED=false
      - DEFAULT_LOCALE=en-US
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_US

    volumes:
      - /srv/docker/data/stirling-pdf/tessdata:/usr/share/tessdata
      - /srv/docker/data/stirling-pdf/configs:/configs

    networks:
      - caddy_net

    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:8080 >/dev/null 2>&1 || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  caddy_net:
    external: true